@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Chivo Mono Regular";
  src: url("../public/fonts/ChivoMono-Regular.ttf");
}

@font-face {
  font-family: "Chivo Mono Bold";
  src: url("../public/fonts/ChivoMono-Bold.ttf");
}
